// colors

$white: #FFF;
$lightestGray: #F4F4F4;
$lighterGray: #DDD;
$lightGray: #CCC;
$medGray: #999;
$darkGray: #6B6D6F;
$darkerGray: #28282A;
$black: #000;
$linkBlue: #256e9e;

$red: #E23120;
$darkerRed: #D52B1B;

// type
$textWhite: #FFF;
$textGray: #7a7a7a;
$textBlack: #231F20;

$fontSizeTiny: .9em;
$fontSizeSmaller: 1em;
$fontSizeSmall: 1.2em;
$fontSizeMed: 1.4em;
$fontSizeBig: 1.8em;
$fontSizeBigger: 2.6em;
$fontSizeHuge: 3.6em;
$fontSizeHuger: 5.4em;
$fontSizeMassive: 7.2em;

$fontFam: 'Gotham 4r', 'Gotham A', 'Gotham B', Helvetica;
$fontFam2: Helvetica;
$fontFamSerif: Georgia, serif;

$siteWidth: 960px;
$minSiteWidth: 320px;